/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------- RESETTER ENDS HERE ---------------- */

body {
    background-color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.header {
    width: 100%;
    display: flex;
    height: 7.5vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(160, 158, 158, 0.62);
    box-shadow: 3px 3px 8px 0px rgb(113, 106, 106);
}

.header > h1 {
    padding-right: 5%;
    font-size: 1.33em;
}

.header > i {
    padding-left: 5%;
    font-size: 5vh;
}

.content-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.toBeExplained {
    font-style: italic;
}

.importantText {
    font-weight: 700;
}

.underlined {
    text-decoration: underline;
    font-weight: 700;
}

.explanatory {
    color: lightgray;
    font-style: italic;
}

.sidemenu {
    z-index: 1;
    box-shadow: 2px 5px 14px 0px rgba(29, 28, 28, 0.32);
    height: 100%;
    width: 17.5%;
    background-color: #d3d3d361;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menulist {
    margin-top: 15%;
    width: 100%;
}

.menulist > li {
    padding-bottom: 5%;
    padding-top: 15%;
    text-align: center;
    width: 100%;
}

.menuButton {
    font-size: 1.13em;
    display: flex;
    justify-content: space-between;
}

.menuButton:hover {
    background-color: #80808038;
    cursor: pointer;
    animation: menuSizeAnimation 1s forwards;
}

@keyframes menuSizeAnimation {
    from {font-size: 1.13em;}
    to {font-size: 1.30em;}
}

.menuButton > i {
	margin-right: 5%;
	font-size: 1.2em;
}

.page {
    position: relative;
    height: 100%;
    width: 82.5%;
}

.pageHeader {
    position: absolute;
    top: 10%;
    font-size: 1.44em;
    font-weight: 550;
    width: 100%;
    justify-content: flex-end;
    height: 5%;
    display: flex;
    align-items: center;
    text-shadow: 4px 3px 6px rgb(123, 116, 116);
}

.pageHeader > h1 {
    margin-right: 7.5%;
}

.pageContentWrapper {
    width: 100%;
    position: absolute;
    top: 25%;
    height: 75%;
}

.pageContentWrapper > div {
    margin-left: 7.5%;
}

.pageContent {
    width: 82.5%;
    height: 100%;
}

.analysisForm {
    width: 100%;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    height: 42%;
    background-color: rgba(212, 211, 211, 0.16);
    padding-bottom: 5%;
    border-radius: 12.5px;
    box-shadow: 11px 12px 12px rgba(99, 96, 96, 0.23);
}

.enroll {
    font-size: 0.83em;
    height: 20px;
    text-align: center;
    width: 40%;
    resize: none;
    box-shadow: 3px 3px 5px rgba(99, 91, 91, 0.78);
}

.funds {
    font-size: 0.83em;
    height: 20px;
    text-align: center;
    width: 35%;
    resize: none;
    box-shadow: 3px 3px 5px rgba(99, 91, 91, 0.78);
    margin-top: 2.5%;
}

.analysisOutput {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: 600;
}

.predict {
    font-size: 0.8em;
    height: 25px;
    width: 25%;
    margin-top: 4.5%;
    box-shadow: 3px 3px 5px rgba(99, 91, 91, 0.78);
}

.result {
    text-shadow: 4px 4px 7px rgb(153, 146, 146);
}

.GDP {
    font-size: 0.83em;
    height: 20px;
    text-align: center;
    width: 30%;
    resize: none;
    box-shadow: 3px 3px 5px rgba(99, 91, 91, 0.78);
    margin-top: 2.5%;
}

.mortality {
    font-size: 0.83em;
    height: 20px;
    text-align: center;
    width: 25%;
    resize: none;
    box-shadow: 3px 3px 5px rgba(99, 91, 91, 0.78);
    margin-top: 2.5%;
}

.predictWarning {
    width: 50%;
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(323deg, rgba(255,255,255,1) 37%, rgba(135,133,133,1) 100%);
    background: -webkit-linear-gradient(323deg, rgba(255,255,255,1) 37%, rgba(135,133,133,1) 100%);
    background: linear-gradient(323deg, rgba(255,255,255,1) 37%, rgba(135,133,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#878585",GradientType=1);
    color: black;
    z-index: 9999;
    position: absolute;
    top: 35%;
    left: 25%;
    border-radius: 12px;
    box-shadow: 5px 7px 11px rgb(70, 68, 68);
}

.warningButton {
    width: 25%;
    height: 15%;
    margin-top: 5%;
    font-size: 0.8em;
}

#modelScore {
    font-weight: 700;
}